@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}


@font-face{
    font-family: "funky";
    src:url("./Assets/fonts/HeyhomigueloRegular-qZvrd.otf");
}
@font-face{
    font-family: "black_clover";
    src:url("./Assets/fonts/BlackCloverFont.ttf");
}
@font-face{
    font-family: "beastars";
    src:url("./Assets/fonts/beastars.otf");
}
@font-face{
    font-family: "dragon_ball";
    src:url("./Assets/fonts/Saiyan-Sans.ttf");
}